<ion-header>
  <ion-toolbar>
    <ion-title>Pengalaman, Saran, Kritik</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text color="">
    <h1>
      Pengalaman saya belum banyak, selama ini saya hanya mengerjakan materi lalu bertanya bila ada pertanyaan ketika meeting kelas.<br>
      Lalu, untuk masalah mencoba materi , terkadang saya merasa kesusahan karena saya hanya punya waktu 1 jam untuk mencobanya ketika <br>
      kelas sebelum AMBW selesai.<br>
    </h1>
  </ion-text>
</ion-content>
