<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text color="">
    <h1>
      Nama : Rachmad Dwi Cahya Purnomo<br>
      NRP : C14180083<br>
      Email : c14180083@john.petra.ac.id<br>
      No.HP : 082220832000<br>
    </h1>
  </ion-text>
  <!-- <p>
    Nama : Rachmad Dwi Cahya Purnomo<br>
      NRP : C14180083<br>
      Email : c14180083@john.petra.ac.id<br>
      No.HP : 082220832000<br>
  </p> -->
</ion-content>
